* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3rem;
}

header .logo {
  max-width: 40%;
  max-height: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .try-it-free-container {
  width: 13rem;
  text-align: center;
  border: 1px solid #ff8fd8;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 3rem;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

header .try-it-free-container .try-it-free {
  font-size: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #ff8fd8;
}

header .try-it-free-container:hover {
  background: #ff8fd8;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

header .try-it-free-container:hover .try-it-free {
  color: white;
}

.section-1-hero {
  margin-top: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.section-1-hero .title {
  margin-bottom: 3rem;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 3rem;
}

.section-1-hero .title-description {
  font-size: 2rem;
  margin: 0 30rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .section-1-hero .title-description {
    margin: 3rem;
  }
}

.section-1-hero .super-get {
  text-align: center;
}

@media (max-width: 1200px) {
  .section-1-hero .super-get {
    margin: 3rem 10rem;
  }
}

@media (min-width: 1201px) {
  .section-1-hero .super-get {
    margin: 10rem 50rem;
  }
}

@media (min-width: 1650px) {
  .section-1-hero .super-get {
    margin: 10rem 70rem;
  }
}

.section-1-hero .super-get .get-started-for-free-container {
  background: #ff52bf;
  padding: 1.5rem 4rem;
  border-radius: 3rem;
  margin: 0 auto;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.section-1-hero .super-get .get-started-for-free-container .get-started-for-free {
  color: white;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.section-1-hero .super-get .get-started-for-free-container:hover {
  background: none;
  border: 1px solid #ff52bf;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.section-1-hero .super-get .get-started-for-free-container:hover .get-started-for-free {
  color: black;
}

.section-2-hero {
  margin-top: 10rem;
}

.section-2-hero .screen-mockup-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 3rem;
}

.section-2-hero .screen-mockup-hero .screen-mockup {
  max-width: 100%;
}

.section-2-hero .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15rem;
}

.section-2-hero .stats .icon-community {
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.section-2-hero .stats .community-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.section-2-hero .stats .community-stats .number {
  font-size: 6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.section-2-hero .stats .community-stats .description-com {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  opacity: 0.5;
}

.section-2-hero .stats .community-stats-2 {
  margin-top: 10rem;
}

.section-3-hero {
  background-color: #f5faff;
  margin-top: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 1200px) {
  .section-3-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-3-hero .grow-together {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem;
}

.section-3-hero .grow-together .grow-together-image {
  max-width: 100%;
}

.section-3-hero .grow-together-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  margin-top: 5rem;
}

.section-3-hero .grow-together-text .grow-title {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 3rem;
}

.section-3-hero .grow-together-text .grow-together-description {
  font-size: 1.7rem;
  margin: 3rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.section-4-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: none;
}

@media (max-width: 1200px) {
  .section-4-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer {
  background: #00252e;
  color: white;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media (max-width: 1200px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: start;
  }
}

footer .footer-news-text {
  margin: 5rem;
}

footer .footer-news-text .newsletter {
  margin-top: 8rem;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

footer .footer-news-text .newsletter-description {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-top: 2rem;
}

footer .email-button .inputemail input {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 1.5rem 8rem;
  border-radius: 0.7rem;
  border: none;
}

footer .email-button .super-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .email-button .super-subscribe .subscribe-container {
  background: #ff52bf;
  padding: 1.5rem 4rem;
  border-radius: 0.5rem;
  text-align: center;
  margin: 0rem 10rem;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

footer .email-button .super-subscribe .subscribe-container .subscribe {
  color: white;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

footer .email-button .super-subscribe .subscribe-container:hover {
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  background: none;
  border: 1px solid #ff52bf;
}
/*# sourceMappingURL=style.css.map */